<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de contactos</title>
</head>
<body>
    <table border="1px">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>DNI</th>
                <th>Domicilio</th>
                <th>Fecha Nac</th>
                <th>Alta Sistema</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personas %}
            <tr>
                <td>{{persona.nombre}}</td>
                <td>{{persona.apellido}}</td>
                <td>{{persona.correo}}</td>
                <td>{{persona.dni}}</td>
                <td>{{persona.domicilio}}</td>
                <td>{{persona.nac}}</td>
                <td>{{persona.alta_sistema}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>